<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Project_AMS.LoginPage"/>
<!--      <class name="Project_AMS.MyLeaves"/>
      <class name="Project_AMS.calenderhandle"/>
      <class name="Project_AMS.MyExceptionHistory"/>
      <class name="Project_AMS.myHolidayList"/>
      <class name="Project_AMS.AMSHomepage"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
